@font-face {
    font-family: "Lato";
    src: url("/resources/fonts/Lato/Lato-Black.ttf") format("truetype");
    font-weight: 900;
    font-display: swap;
  }
  @font-face {
    font-family: "Lato";
    src: url("/resources/fonts/Lato/Lato-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Lato";
    src: url("/resources/fonts/Lato/Lato-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
  }
  @font-face {
    font-family: "Lato";
    src: url("/resources/fonts/Lato/Lato-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Lato";
    src: url("/resources/fonts/Lato/Lato-Italic.ttf") format("truetype");
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Lato";
    src: url("/resources/fonts/Lato/Lato-Light.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
  }
  @font-face {
    font-family: "Lato";
    src: url("/resources/fonts/Lato/Lato-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Lato";
    src: url("/resources/fonts/Lato/Lato-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: "Lato";
    src: url("/resources/fonts/Lato/Lato-Thin.ttf") format("truetype");
    font-weight: 100;
    font-display: swap;
  }
  @font-face {
    font-family: "Lato";
    src: url("/resources/fonts/Lato/Lato-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }
  :root {
    --first-main-color: #384987;
    --second-main-color: #d22b27;
    --menu-nav-color: black;
    --nav-buttons-opacity: 0.7;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
    overflow: auto
}

header.up-main-header{
    display: flex;
    /* background-color: green; */
    /* Edited from fixed for test purpose */
    position: relative;
    top: 0;
    left: 0;
    border-bottom: 0.1rem lightgray solid;
    width: 100%;
    /* height: 4.2rem; */
    justify-content: space-between;
    align-items: center;
    padding: 0rem 10rem;
    flex-wrap: wrap;

}

/* LOGO BAR */
.up-header-brand > img{
    height: 2.1rem;
    margin-top: 0.5rem;

}

/* MAIN NAV BAR */
ul.up-main-nav__items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}

.up-main-nav__items > li.up-main-nav__item{
    display: block;
    position: relative;
    text-decoration: none;
    list-style: none;
    padding: 0 1rem;
    cursor: pointer;
    
}
.up-main-nav__items li:hover a.up-nav-link,
.up-main-nav__items li:active a.up-nav-link{
    opacity: 1;
    color: var(--first-main-color);
    transition: opacity 0.2s ease-in-out;
}
.up-main-nav__items > li.up-main-nav__item:after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 4.9rem;
  height: 2px;
  background-color: var(--second-main-color);
  visibility: visible;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.up-main-nav__items > li:hover:after{
    visibility: visible;
    transform: scaleX(0.8);
}
.up-main-nav__items .up-nav-link{
    display: block;
    color: black;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    height: 100%;
    position: relative;
    line-height: 5rem;
    outline: none;
    opacity: var(--nav-buttons-opacity);
}

/* LOGIN BAR */
.up-control-nav__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 9.5rem;
}
.up-control-nav__items li{
    text-decoration: none;
    list-style: none;
    margin: auto 0.7rem;
    cursor: pointer;
    min-width: 1.5rem;
    max-width: 2rem;
}
.up-control-nav__items li:hover a,
.up-control-nav__items li:active a,
.up-control-nav__items li:hover {
  color: var(--first-main-color);
  opacity: 1;
  transform: scale(1.2, 1.2);
  transition: all 0.1s ease-in-out 0s;
  
}
.up-control-nav__items a{
    color: var(--menu-nav-color);
    opacity: var(--nav-buttons-opacity);
    text-decoration: none;
    font-weight: 800;
    
}


/* MEGAMENU */

.up-megamenu-container{
    /* TODO: make it display:none */
    display: none;
    
}
/* ADD .up-main-nav__items li:hover  */
.up-main-nav__items li:hover .up-megamenu-container{
    display: flex;
    position: absolute;
    left: calc(90vw - 100vw);
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    box-shadow: 10px 10px 20px lightgrey;
    /* border: 1px darkgrey solid; */
    padding: 1rem 3rem;
    background-color: white;
    min-width: 20vw;
    /* flex-wrap: wrap; */
    
}

/* .up-megamenu-container ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */

.up-megamenu-container ul.up-megamenu__items{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    /* flex-wrap: wrap; */
    /* flex-basis: 50vw; */
}
.up-megamenu-item > a{  
  text-decoration: none;
  display: block;
  /* line-height: 1.0rem; */
  text-align: center;
}
li.up-megamenu-item{
  display: block;
  width: 100%;
  padding: 0.3rem;
}

.up-megamenu-item a{
  color: var(--menu-nav-color);
  font-weight: 700;
  opacity: var(--nav-buttons-opacity);
  
}

li.up-megamenu-item:hover a{
  color:var(--first-main-color);
  opacity: 1;
}

.up-megamenu-title a{
  display: block;
  font-weight: 900;
  padding-bottom: 0.2rem;
  padding-top: 1rem;
  text-transform: uppercase;
  white-space: nowrap;
  color: var(--menu-nav-color);
}


.up-megamenu__bestselling{
  border-bottom: 0.2rem transparent solid;
  border-right: 0.2rem transparent solid;
}
.up-megamenu__bestselling img{
  display: block;
  height: 10rem;
  margin: auto;
  
}
.up-bestselling-title{
  height: 3rem;
}
.up-megamenu__bestselling a{
  display: block;
  margin: 1rem;
}
.up-megamenu__bestselling:hover{
  border-bottom: 0.2rem var(--second-main-color) solid;
  border-right: 0.2rem var(--second-main-color) solid;
  opacity: 0.7;
  transition: all 0.2s ease-in-out 0s;
}





